:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 50px;
  border: 2px solid;
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}


p{
    border: 2px solid black;
    font-size: 30px;
    max-width: 150;
}
.categoryCard {
  justify-content: left;
  justify-content: left;
  padding-right: 30px;
}

.catButton {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px;
  justify-content: center;
  background-color: white;
  max-width: 350px;
  min-width: 350px;
}


.button {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px;
  background-color: white;
    
}

.actionButton{
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(238, 237, 237);

}